
@{
    ViewData["Title"] = "_PresentForm";
}
@model SimpelFormViewModel;



<h1>_PresentForm</h1>


        <h3>using GET</h3>
        <form method="post">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <label asp-for="FirstName"> </label>
                        <input asp-for="FirstName" class="form-control" value="@Model.FirstName" placeholder="" />

                        <span asp-validation-for="FirstName" class="text-danger">  </span>
                    </div>
                    <div>
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" value="@Model.LastName" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div class=" col-md-3">
                    <div class="form-group">
                        <label asp-for="Password"></label><br />
                        <input class="form-control" asp-for="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="RepeatPassword"></label><br />
                        <input class="form-control" asp-for="RepeatPassword" />
                        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                    </div>
                    <div class=" form-group">
                        <label asp-for="SelectItem.SelectCountryId"></label>
                        <select class=" form-select" asp-for="SelectItem.SelectCountryId"
                                asp-items="Model.SelectItem.Countries">
                        </select>
                    </div>

                    <div class="form-check form-switch">
                        <label class="form-check-label" asp-for="Subscribed"></label>
                        <input class="form-check-input" asp-for="Subscribed" />
                    </div>

                </div>
                   
                
            </div>
        </form>


